.plus-jakarta-sans-normal {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-pimary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
/* Header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav Style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    max-width: 580px;
    margin: 0 35px 0 150px;
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description {
    color: #757575;
    font-weight: 400px;
    font-size: 18px;
}
.banner-profile-pic{
    width: 584px;
}
/* main */
main{
    max-width: 900px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about me */
.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
/* Section */
.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
    font-size: 15px;

}
/* Skills */
.skilla-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.skil-title{
    font-weight: bold;
    font-size: 20px;
}
.skill-description{
    font-weight: 400px;
    font-size: 16px;
    

}
.skill{
    
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* Resume part */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-title{
    font-weight: bold;
    font-size: 25px;
}
.experience-sub-title{
    font-weight: 600px;
    font-size: 2px;
}
.experince-description{
    font-weight: 400px;
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
}
.button{
    text-align: center;
    padding-top: 40px;

}

/* Footer part */
footer{
    padding: 130px 100px;
    display: flex;
    gap: 100px;
}
footer input[type="text"], footer input[type="email"]{
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 18px 349px 18px 30px;
    margin-bottom: 24px;
    border: none;

}
footer textarea{
    border-radius: 5px;
    border: none;
    padding: 18px 280px 10px 30px;
}
.footer-coloum{
    background-color: #FFF8F3;
}
.footer-top{
    font-weight: bold;
    font-size: 35px;
    color: rgba(24, 24, 24, 1);

}
